<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplified - Recruiter's edition</title>
    <link rel="stylesheet" href="../public/design.css">
</head>
<body>
    <nav>
        <ul class="unorderedList">
            <div id="simplified">Simplif<span id="ied">ied</span></div>
            <div>
            <li class="listItem"><a href="/about">ABOUT</a></li>
            <li class="listItem"><a href="/jobs">WRITE</a></li>
            <li class="listItem"><a href="/posted-jobs">POSTED</a></li>
            <li class="listItem"><a href="/reviews">REVIEWS</a></li>
            </div>
            <div>
            <li class="listItem"><a href="/profile">PROFILE</a></li>
            </div>
        </ul>
    </nav>
    <section class="body">
        <div id="goal">
            Our goal is to help recruiters simplify the process of recruitment, expand the talent pool, and help people find their ideal working environment.
        </div>
        <div>
            <button>Let's get started</button>
        </div>
    </section>
    <footer>
        Solar Systems 2022
    </footer>
</body>
</html>