<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/script.js"></script>
<h1>Quote: <%=quote%></h1>
<h2></h2>
GET route text
<form method="post" id="changeQuote"> 
    <input type="text" placeholder="Set quote of the day" name="quote" id="value-name">
    <input type="submit" value="Save">
</form>   