<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <form action="">
        <label for="name">Organisation name</label>
        <input type="text" id="name" name="name">

        <label for="description">Brief description about your organisation</label>
        <input type="text" id="description" name="name">

        <label for="industry">Industry</label>
        <input type="text" id="industry" name="industry">

        <label for="number">Number of current employees</label>
        <input type="text" id="number" name="number">



    </form>
</body>
</html>